.project-block {
  background-color: #2D4262;
  color: white;
  display: flex;
  border-radius: 5px;
}

.project-block__image-wrapper {
  margin: 10px;
  height: 350px;
}

.project-block__image {
  width: 280px;
  height: 350px;
}

.project-block__content-wrapper {
  margin: 10px;
  max-height: 350px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.project-block__name {
  margin-top: 14px;
  margin-bottom: 14px;
  font-size: 24px;
}

.project-block__description {
  font-size: 18px;
  line-height: 28px;
  font-weight: normal;
  padding: 0;
  margin: 0;
}

.project-block__type-project {
  flex-grow: 1;
  margin: 40px 0 20px;
}

.project-block__bottom-elements {
  display: flex;
  justify-content: space-between;
  align-items: center;
}