@import "fonts";
@import "standarts";
@import "page-header";
@import "slide-button";
@import "slider-news";
@import "slider-mentors";
@import "slick";
@import "rating";
@import "project-block";
@import "type-project";

.best-projects__list {
  list-style: none;
  padding: 0;
  margin: 0;
}