.type-project__title {
  font-weight: 500;
  font-size: 18px;
  margin: 0;
}

.type-project__wrapper {
  margin-top: 10px;
}

.type-project__item {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  border: 1px solid white;
  padding: 8px;
  margin-right: 10px;
  margin-bottom: 12px;
}